<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> 헤더영역</title>
</head>
<!-- headerFragment 선언 -->
<th:block th:fragment="headerFragment">
    <div class="header">
        <nav class="gnb">
            <div class="logo">
                <a href="/am" class="logo">People</a>
            </div>
            <ul class="gnb_depth1">
                <li>
                    <a href="#" id="homeMenu" class="menu-item" data-menu="home">학사관리</a>
                </li>
            </ul>
            <ul class="gnb_depth1">
                <li>
                    <a href="#" id="aboutMenu" class="menu-item" data-menu="about">행정관리</a>
                </li>
            </ul>

        </nav>
    </div>
</th:block>
<!-- headerFragment 선언 -->
</html>