<!DOCTYPE html>

<!--Thymeleaf, ConfigFragment 선언-->
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="configFragment">
<head>
  <meta charset="UTF-8" />

  <!-- 공통으로 쓰이는 JAVA SCRIPTS 작성 -->
  <script th:inline="javascript" type="text/javascript" th:src="@{/js/jquery-3.7.1.min.js}"></script>
  <script th:inline="javascript" type="text/javascript" th:src="@{/js/test.js}"></script>
  <script th:inline="javascript" type="text/javascript" th:src="@{/js/sidebar.js}"></script>
  <script th:inline="javascript" type="text/javascript" th:src="@{/js/header.js}"></script>

  <!-- 공통으로 쓰이는 CSS 삽임 -->
  <link rel="stylesheet" th:inline="css" th:href="@{/css/styles.css}">
  <link rel="stylesheet" th:inline="css" th:href="@{/css/sidebar.css}">
  <link rel="stylesheet" th:inline="css" th:href="@{/css/header.css}">

  <link rel="stylesheet" th:inline="css" th:href="@{/css/content.css}">

  <link rel="stylesheet" th:inline="css" th:href="@{/css/H1/depth0401.css}">
  <link rel="stylesheet" th:inline="css" th:href="@{/css/H1/depth0402.css}">

  <link rel="stylesheet" th:inline="css" th:href="@{/css/H2/depth0101.css}">
  <link rel="stylesheet" th:inline="css" th:href="@{/css/H2/depth0102.css}">
  <link rel="stylesheet" th:inline="css" th:href="@{/css/H2/depth0103.css}">
  <link rel="stylesheet" th:inline="css" th:href="@{/css/am.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.min.css">

</head>
</html>
