<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <title> 사이드바 영역 </title>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
</head>
<body>
<!-- sidebarFragment 선언 -->
<th:block th:fragment="sidebarFragment">
    <aside class="sidebar">
        <nav class="snb">
            <!-- 검색 입력란 추가 -->
            <div class="menu-search-container">
                <!-- 메뉴 검색 입력란 -->
                <input type="text" id="menuSearch" class="menu-search" placeholder="메뉴를 검색하세요...">


            </div>
            <ul class="snb_depth1">
                <li class="sidebar-item" data-menu="home" style="display: none;">
                    <a>장학</a>
                    <ul class="snb_depth2">
                        <li>
                            <a>변경 및 신청</a>
                            <ul class="snb_depth3">
                                <li><a href="/H1depth0101">학적변동신청</a></li>
                                <li><a href="/H1depth0102">개인정보변경(학생용)</a></li>
                                <li><a href="#">융복합트랙제신청</a></li>
                                <li><a href="#">졸업유보자 수강학점신청</a></li>
                                <li><a href="#">자율주행트랙제신청</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item" data-menu="home" style="display: none;">
                    <a>출석</a>
                    <ul class="snb_depth2">
                        <li>
                            <a href="#">시간표관리</a>
                            <ul class="snb_depth3">
                                <li><a href="#">(R)학생별시간표 조회/출력</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">강의평가</a>
                            <ul class="snb_depth3">
                                <li><a href="#">강의평가입력(학생용)</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item" data-menu="home" style="display: none;">
                    <a href="#">수강</a>
                    <ul class="snb_depth2">
                        <li>
                            <a href="#">수강관리</a>
                            <ul class="snb_depth3">
                                <li><a href="#">강좌조회(학생용)</a></li>
                                <li><a href="#">수강신청조회</a></li>
                                <li><a href="#">학점교류수강조회</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">수강출력</a>
                            <ul class="snb_depth3">
                                <li><a href="#">수강신청확인 및 변경원</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item" data-menu="home" style="display: none;">
                    <a href="#">성적</a>
                    <ul class="snb_depth2">
                        <li>
                            <a href="#">성적처리</a>
                            <ul class="snb_depth3">
                                <li><a href="/H1depth0401">금학기 성적 조회(이관전)</a></li>
                                <li><a href="/H1depth0402">기이수성적조회</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>


                <li class="sidebar-item" data-menu="about" style="display: none;">
                    <a href="#">등록</a>
                    <ul class="snb_depth2">
                        <li>
                            <a href="#">등록출력</a>
                            <ul class="snb_depth3">
                                <li><a href="/H2depth0101">등록금 납부 확인</a></li>
                                <li><a href="/H2depth0102">등록금 고지서 확인</a></li>
                                <li><a href="/H2depth0103">복학신청</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

            </ul>
        </nav>
    </aside>
</th:block>
<!-- sidebarFragment 선언 끝 -->
</body>
</html>