/* H1depth0401 클래스에만 적용되는 스타일 */
.H1depth0402 {
    position: relative;
    background-color: #eef2f7;
}

/*======= Student-Info =============*/
/*==============================================*/
.H1depth0402 .Student-Info{
    display: flex;
    position: relative;

    width: 100%;
    background-color: red;
}

.H1depth0402 .Student-Info .Profile-Img .img{
    height: 150px;
    width: 100px;
    border: 2px solid grey;
}

/*=====*/
.H1depth0402 .student-status{
    position: absolute;
    right: 10px;
    height: 150px;
    width: 150px;
    background-color: yellowgreen;
    z-index: 100;

    display: flex; /* 자식 요소들을 flexbox로 배치 */
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
}

/*=====*/
.H1depth0402 .Student-Info .Profile-Info{
    position: relative;
    height: 154px;
    width: 100%;

}

.H1depth0402 .Profile-Info tr{
background-color: #e4e4e4;
}

.H1depth0402 .Profile-Info th{
width: 100px;
}

.H1depth0402 .Profile-Info td{

    border: 1px solid grey;
}
/*==============================================*/
/*==============================================*/

.H1depth0402 .Details-of-grades{
    margin: 0px;
}

.H1depth0402 .table-top{
    display: flex;
    justify-content: space-between;
    height: 30px;
    align-items: center
}

.H1depth0402 .Details-of-grades .table-responsive {
    position: relative;
    margin: 0;

    height: 250px;
    border-top: 2px solid blue;
    background-color: #dddddd;
    overflow: auto; /* 오버플로우 시 스크롤 생기도록 설정 */
    padding-right: 10px;
}

.H1depth0402 .table {

    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    background-color: #fff;
    border-collapse: collapse;
}

.H1depth0402 .table th,
.H1depth0402 .table td {
    padding: 5px;
    text-align: center;
    border-top: 1px solid #ddd;

}

.H1depth0402 .table th {
    background-color: #f5f5f5;
    border-bottom: 2px solid #ddd;
}

.H1depth0402 .table-hover tbody tr:hover {
    background-color: #f1f1f1;
}

.H1depth0402 .table-bordered {
    border: 1px solid #ddd;
}

.H1depth0402 .table-bordered th,
.H1depth0402 .table-bordered td {
    border: 1px solid #ddd;
}

.H1depth0402 .table-light {
    background-color: #f8f9fa;
}



.H1depth0402 .Semester-breakdown .table-responsive {
    position: relative;
    margin: 0;
    padding-right: 10px;

    height: 230px;
    border-top: 2px solid blue;
    background-color: #dddddd;
    overflow: auto; /* 오버플로우 시 스크롤 생기도록 설정 */
}