<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/default_layout}">
<head>
  <title>main homepage</title>


</head>
<th:block layout:fragment="content">
  <div class="H1depth0402">
    <div class="content-title">
      <h5>성적 > 성적처리 > 기이수성적조회</h5>
      <div class="content-top-box">
        <table class="box-info">
          <tbody>
          <tr>
            <th>학번</th>
            <td>2470046</td>
            <th>학년도</th>
            <td>
              <select>
                <option value="2024">2024학년도</option>
                <option value="2023">2023학년도</option>
                <option value="2022">2022학년도</option>
                <!-- 필요에 따라 다른 학년도 추가 -->
              </select>
            </td>
            <th>학기</th>
            <td>
              <select>
                <option value="1">1학기</option>
                <option value="2">2학기</option>
                <option value="summer">여름학기</option>
                <option value="winter">겨울학기</option>
                <!-- 필요에 따라 다른 학기 추가 -->
              </select>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="content-box">

        <!-- 학생정보 -->
        <!-- 학생정보 -->
        <div class="Student-Info">

          <div class="Profile-Img">
            <div class="img"> <h1>프사</h1></div>
          </div>

          <div class="student-status">
            <h1>재직중</h1>
          </div>

          <table class="Profile-Info">

            <tbody>
            <tr>
              <th>학번</th>
              <td>2470046</td>
            </tr>
            <tr>
              <th>학생</th>
              <td>2470046</td>
            </tr>
            <tr>
              <th>소속</th>
              <td>2470046</td>
            </tr>
            <th>과정</th>
            <td>2470046</td>
            </tr>
            <th>기타</th>
            <td>2470046</td>
            </tr>
            </tbody>
          </table>

          </table>
        </div>

        <!-- 성적내역 -->
        <!-- 성적내역 -->
        <div class="Details-of-grades">
          <div class="table-top">
            <h5>성적내역</h5>
            <h5>[34]</h5>
          </div>
          <!-- 성적 테이블 추가 -->
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead class="table-light">
              <tr>
                <th>No</th>
                <th>학년도</th>
                <th>학기</th>
                <th>교과목코드</th>
                <th>교과목명</th>
                <th>이수구분</th>
                <th>신청학점</th>
                <th>취득학점</th>
                <th>등급</th>
                <th>평점</th>
                <th>재수강학년도</th>
                <th>재수강학기</th>
                <th>재수강교과목명</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>1</td>
                <td>2018학년도</td>
                <td>1학기</td>
                <td>00040</td>
                <td>웹디자인기초</td>
                <td>전공선택</td>
                <td>2</td>
                <td>2</td>
                <td>A0</td>
                <td>4</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>


              </tbody>
            </table>
          </div>
        </div>

        <!-- 학기별내역 -->
        <!-- 학기별내역 -->
        <div class="Semester-breakdown">

          <div class="table-top">
            <h5>학기별 내역</h5>
            <h5>[3]</h5>
          </div>
          <!-- 성적 테이블 추가 -->
          <div class="table-responsive">

            <table class="table table-bordered table-hover">
              <thead class="table-light">
              <tr>
                <th>No</th>
                <th>학년도</th>
                <th>학기</th>
                <th>신청학점</th>
                <th>취득학점</th>
                <th>신청과목수</th>
                <th>취득과목수</th>
                <th>합계평점</th>
                <th>평점평균</th>
                <th>백분율</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>1</td>
                <td>2018학년도</td>
                <td>1학기</td>
                <td>2</td>
                <td>2</td>
                <td>9</td>
                <td>9</td>
                <td>65.5</td>
                <td>3.28</td>
                <td>84.3</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>


      </div>
    </div>
  </div>
</th:block>
</html>
