header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px; /* 헤더 높이 */
    background-color: orange;
    color: white;
    z-index: 1000; /* 헤더는 가장 위에 고정 */
}

header nav {
    text-align: center;
}

header nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

header nav a:hover {
    color: #ff9900;
}