body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    margin-left: 250px;            /* 사이드바 너비만큼 본문을 오른쪽으로 밀기 */
    padding: 20px;                 /* 본문 여백 */
    margin-top: 80px;              /* 헤더 높이(60px) + 사이드바 여백을 고려한 본문 위치 */
}


a{
    text-decoration: none;
}

