<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> 헤더영역</title>
</head>
<!-- headerFragment 선언 -->
<th:block th:fragment="headerFragment">
    <header>
        <div class="logo">My Logo</div>
        <nav>
            <!-- 헤더 부분 (클릭 시 class 변경) -->
            <a href="#" id="homeMenu" class="menu-item" data-menu="home">학사관리</a>
            <a href="#" id="aboutMenu" class="menu-item" data-menu="about">행정관리</a>
            <a href="#" id="contactMenu" class="menu-item" data-menu="contact">Contact</a>
        </nav>
    </header>
</th:block>
<!-- headerFragment 선언 -->
</html>