<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <title> 사이드바 영역 </title>
</head>
<body>
<!-- sidebarFragment 선언 -->
<th:block th:fragment="sidebarFragment">
    <aside class="sidebar">
        <nav class="snb">
            <ul class="snb_depth1">
                <li>
                    <a>학적</a>
                    <ul class="snb_depth2">
                        <li>
                            <a>변경 및 신청</a>
                            <ul class="snb_depth3">
                                <li><a href="#">학적변동신청</a></li>
                                <li><a href="#">개인정보변경(학생용)</a></li>
                                <li><a href="#">융복합트랙제신청</a></li>
                                <li><a href="#">졸업유보자 수강학점신청</a></li>
                                <li><a href="#">자율주행트랙제신청</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a>수업</a>
                    <ul class="snb_depth2">
                        <li>
                            <a href="#">시간표관리</a>
                            <ul class="snb_depth3">
                                <li><a href="#">(R)학생별시간표 조회/출력</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">강의평가</a>
                            <ul class="snb_depth3">
                                <li><a href="#">강의평가입력(학생용)</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">수강</a>
                    <ul class="snb_depth2">
                        <li>
                            <a href="#">수강관리</a>
                            <ul class="snb_depth3">
                                <li><a href="#">강좌조회(학생용)</a></li>
                                <li><a href="#">수강신청조회</a></li>
                                <li><a href="#">학점교류수강조회</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">수강출력</a>
                            <ul class="snb_depth3">
                                <li><a href="#">수강신청확인 및 변경원</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">성적</a>
                    <ul class="snb_depth2">
                        <li>
                            <a href="#">성적처리</a>
                            <ul class="snb_depth3">
                                <li><a href="#">금학시 성적 조회(이관전)</a></li>
                                <li><a href="#">기이수성적조회</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">역량</a>
                    <ul class="snb_depth2">
                        <li><a href="#">운영및평가</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">장학</a>
                    <ul class="snb_depth2">
                        <li><a href="#">장학금신청 및 조회</a></li>
                        <li><a href="#">근로장학생</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">등록</a>
                    <ul class="snb_depth2">
                        <li><a href="#">등록생관리</a></li>
                        <li><a href="#">등록출력</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">졸업</a>
                    <ul class="snb_depth2">
                        <li><a href="#">졸업출력</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">학생이력</a>
                    <ul class="snb_depth2">
                        <li><a href="#">학생신상관리(학생)</a></li>
                        <li><a href="#">이력관리(학생)</a></li>
                        <li><a href="#">포트폴리오관리(학생)</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">상담</a>
                    <ul class="snb_depth2">
                        <li><a href="#">상담관리</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </aside>
</th:block>
<!-- sidebarFragment 선언 끝 -->
</body>
</html>