<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Homepage</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" th:inline="css" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:inline="css" th:href="@{/css/login.css}">
    <script th:inline="javascript" type="text/javascript" th:src="@{/js/main.js}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<div class="login-container">


    <div class="login-overlay-background">

        <div class="login-box-top">
            <div class="login-box-title">
                <div class="image-container">
                    <img src="/img/login/symbol.png">
                </div>

                <div class="text-container">
                    <h1>대한포털서비스</h1>
                    <a>DAEHAN PORTAL SERVICE</a>
                </div>
            </div>
        </div>

        <div class="login-box-middle">
            <div class="login-form">

                <form action="#" method="POST">
                    <div class="form-group">
                        <input type="text" id="username" name="username" placeholder="아이디" required>
                    </div>
                    <div class="form-group">
                        <input type="password" id="password" name="password" placeholder="비밀번호" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn">로그인</button>
                    </div>
                </form>

                <!-- 아이디 찾기, 비밀번호 찾기 링크 -->
                <div class="login-links">
                    <a href="/main" class="forgot-link">아이디 찾기</a>
                    <a href="/am" class="forgot-link">비밀번호 찾기</a>
                </div>

            </div>
        </div>

        <div class="login-box-bottom">
            <div class="login-box-title"></div>
        </div>
    </div>

</div>
</body>
</html>