<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/default_layout}">
<head>
    <title>main homepage</title>


</head>
<th:block layout:fragment="content">

    <div class="content-title">
        <h5>통합포털</h5>
        <div class="content-box">
            <div class="main-content">

                <div class="box1">
                   <div class="img">
                       <h1>사진</h1>

                   </div>
                </div>

                <div class="box2">
                    <!-- 수평으로 학생 정보 표시 -->
                    <div class="student-info">
                        <div>
                            <strong>학번:</strong>
                            <p>2470046</p>
                        </div>
                        <div>
                            <strong>이름:</strong>
                            <p>전영욱</p>
                        </div>
                        <div>
                            <strong>생년월일:</strong>
                            <p>2001/01/15</p>
                        </div>
                        <div>
                            <strong>학과:</strong>
                            <p>컴퓨터소프트웨어과</p>
                        </div>
                        <div>
                            <strong>학년:</strong>
                            <p>4학년</p>
                        </div>
                        <div>
                            <strong>이메일:</strong>
                            <p>hday19941@naver.com</p>
                        </div>
                        <div>
                            <strong>연락처:</strong>
                            <p>010-1234-5678</p>
                        </div>
                        <div>
                            <strong>주소:</strong>
                            <p>대한민국</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</th:block>
</html>




